
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card" style="background-color: rgba(255, 255, 255, 0.2);">
<div class="row">
<div class="col-lg-12">
<h1 class="text-center text-uppercase">Welcome to Maiden Hotels & Resorts</h1>
</div>
</div>
<hr>
<div class="carousel slide" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-12 text-right mb-4">
                <a type="button" class="carousel-control-prev" data-slide="prev" href="#postsCarousel" title="go back">PREVIOUS</a>
                <a type="button" class="carousel-control-next" data-slide="next" href="#postsCarousel" title="more">NEXT</a>
            </div>
        </div>
    </div>

    <div class="container p-t-0 m-t-2 carousel-inner">
        <div class="row row-equal carousel-item active m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/hotel1.jpg" alt="Carousel 1">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                            <br>
                            <h3 style="margin-left: 0.5cm;" >The Trooper Hotel</h3>
                        </div>
                        <div style="text-align: justify;margin-left: 1cm;margin-right: 1cm;" class="card-text"><br><p>Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area, a real luxury in a city like Nice.</p>
                                <p>At The Trooper you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Vermelha’s mild climate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/hotel2.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                                <br>
                            <h3 style="margin-left: 0.5cm;" >Aces High Hotel</h3>
                        </div>
                        <div style="text-align: justify;margin-left: 1cm;margin-right: 1cm;" class="card-text"><br><p>This hotel has an oceanfront location, plus a five star rating.</p>
                            <p>Rooms and suites include free Wi-Fi, flat-screen TV, iPod dock, air conditioning and minibar. Upgrades can further include balcony with ocean view and furnished lounge.  The one-bedroom bungalows have a dining area, roof deck and plunge pool.</p>
                            <p>Communal facilities at Hotel include a bowling alley, nightclub, ice rink, fitness centre, gymnasium and fitness centre, spa, pools and outdoor cinema. Room service is available, there is wheelchair access and pets are welcome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/hotel3.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                                <br>
                            <h3 style="margin-left: 0.5cm;" >Powerslave Hotel</h3>
                        </div>
                        <div style="text-align: justify;margin-left: 1cm;margin-right: 1cm;" class="card-text"><br><p>Located in the heart of the City, Hotel Powerslave is a perfect boutique hotel for a ocean getaway. The entire hotel was recently renovated and redecorated. It is conveniently located one block from the beach on Collins Avenue. Pets are welcome here.</p>
                            <p>The Mediterranean style rooms feature complimentary Wi-Fi, air conditioning, espresso machines, refrigerator, iPod docks, safe, robes and designer toiletries.</p>
                            <p>The hotel has 24-hour reception, a business center, laundry and dry cleaning services. In-room spa services are offered. Umbrella and beach chairs are available on request.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/resort1.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                                <br>
                            <h3 style="margin-left: 0.5cm;" >666 Hotel</h3>
                        </div>
                        <div style="text-align: justify;margin-left: 1cm;margin-right: 1cm;" class="card-text"><br><p>Nestled a five-minute walk from the beach , Run To The Hills Resort features a private parking area and an outdoor pool surrounded with parasols, sun loungers, and tropical gardens.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-equal carousel-item m-t-0">
            <div class="col-lg-12">
                <div class="card wider">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid w-100" src="../../assets/img/resort2.jpg" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <div class="card-header">
                                <br>
                            <h3 style="margin-left: 0.5cm;" >Paradise Hotel</h3>
                        </div>
                        <div style="text-align: justify;margin-left: 1cm;margin-right: 1cm;" class="card-text"><br><p>Able to satisfy the different needs of its guests with comfort and first rate services. It is only 2 km from the airport and from highway exits. The hotel has a large parking area , a real luxury in a city like Nice.</p>
                                <p>At The Number Of The Beast Resort you will be welcomed amongst olive trees, citron trees and magnolias, in gardens that hide exotic plants and in a wonderful outdoor pool with deck chairs; protected against the sun’s rays by big umbrellas you can enjoy a drink amongst the wisteria bushes, and find peace and tranquillity enjoying Costa Azzurra’s mild climate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center" >Have you seen our brand new hostels?</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div style="text-align: center;" class="col-sm-4"><div class="col-lg-12">
            <div style="background-color:rgba(104, 111, 116, 0.555);" class="card">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid w-100" src="../../assets/img/hostel3.png" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <div class="card-header">
                        <h3>Live After Death Hostel (Soon)</h3>
                    </div>
                    <div style="text-align: justify;margin-left: 0.5cm;margin-right: 0.5cm;" class="card-text"><br><p>Begin your night at our Mojito Bar for frosty drinks and mingling, grab a bite at The Place Restaurant, then head out to dance the night away in South Beach nightclubs.</p>
                        <p>Just a step outside our door puts you in the middle of it all. First-class dining, world-renowned shopping and miles of the most desirable beaches anywhere are all just a short walk away.</p>
                        <p> Plus, you're only 10 minutes from downtown and 20 minutes from the Airport.</p>
                    </div>
                </div>
            </div>
        </div></div>
        <div style="text-align: center;" class="col-sm-4"><div class="col-lg-12">
            <div class="card">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid w-100" src="../../assets/img/hostel1.jpg" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <div class="card-header">
                        <h3>Fear of the Dark Hostel</h3>
                    </div>
                    <div style="text-align: justify;margin-left: 0.5cm;margin-right: 0.5cm" class="card-text"><br><p>Live After Death Hostel is situated just a few steps from the nearest beach and offers guests an airport shuttle service.</p>
                        <p>Rooms are air conditioned and soundproofed. Amenities include espresso makers, private bathroom, free Wi-Fi and plasma television.</p>
                        <p>The Live After Death Hostel offers a twenty-four hour business centre computer station and a meeting room. Guests can also avail of luggage storage and a dry cleaning and laundry service.</p>
                        <!--<p>There is an on-site restaurant and lounge bar. Lunch and evening meals are served in the restaurant. Drinks from the bar can be enjoyed on the outdoor terrace during fine weather.</p>-->
                    </div>
                </div>
            </div>
        </div></div>
        <div style="text-align: center;" class="col-sm-4"><div class="col-lg-12">
            <div class="card">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid w-100" src="../../assets/img/hostel2.jpg" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <div class="card-header">
                        <h3>Powerslave Hotel</h3>
                    </div>
                    <div style="text-align: justify;margin-left: 0.5cm;margin-right: 0.5cm" class="card-text"><br><p>Hidden in the historic River Park, Killers Hostel is a revival of a four-story Art Moderne building.</p>
                        <p>The custom designed hotel by Daniel Lambuça features 110 rooms furnished by Restoration Hardware. It offers an experience of design-centric living with a sense of solitude and intimacy.</p>
                        <p>The Killers Hostel brings Blue Ribbon Sushi Bar & Grill, Blue Ribbon's famous sushi and cooked Japanese cuisine to your door step.</p><br>
                    </div>
                </div>
            </div>
        </div></div>
      </div>

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>


